<!DOCTYPE html>
<html>
  <head>
    {{>head}}
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="navigation-bar">
      {{>bsnavbar}}
    </div>
    <div class="body-container">
      {{{body}}}
    </div>
  </body>
</html>
