<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/">Setup</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="/gallery">Galler</a></li>
  </ol>
</nav>

<form name="labelingForm" method="POST" action="/gallery">
  
    <div class="card-columns">
        {{#images}}
        <div class="card">
            <img class="card-img-top" src="/data/pictures/{{filename}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{filename}}</h5>
            </div>
            <div>
                <ul class="list-group">
                    {{#tags}}
                    <li class="list-group-item">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">{{this}}</span>
                            </div>
                                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        </div>
                    </li>
                    {{/tags}}
                </ul>
            </div>
        </div>
        {{/images}}
    </div>

  <button type="submit" class="btn btn-primary">Get Dataset</button>
</form>
