<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Setup</a></li>
    <li class="breadcrumb-item active" aria-current="page">Gallery</li>
  </ol>
</nav>

<form>
  
    <div class="card-columns">
        {{#images}}
        <div class="card">
        <img class="card-img-top" src="{{src}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{filename}}</h5>
        </div>
        <div>
            <ul class="list-group">
                {{#tag}}
                <li class="list-group-item">
                <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">{{this}}</span>
                        </div>
                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                    </div>
                </li>
                {{/tag}}
        </ul>
        </div>
        </div>
        {{/images}}
    </div>

  <button type="submit" class="btn btn-primary">Get Dataset</button>
</form>
