<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/">Setup</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="/gallery">Gallery</a></li>
  </ol>
</nav>

<form id="labelingForm" method="POST" action="/gallery">
  
  <div class="card-columns" id="cards-container">
      {{>cards}}
  </div>

  <button type="button"  onclick="postEnteredData()" class="btn btn-primary">Get Dataset</button>
  <!-- Submit will be initiated from ajax -->
  <button type="submit" class="hidden">Download</button>
</form>
<script src="/javascripts/read_cards.js"></script>