<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/">Setup</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="/gallery">Gallery</a></li>
  </ol>
</nav>

<form name="labelingForm" method="POST" action="/gallery/download">
  
    <div class="card-columns" id="cards-container">
        {{>cards}}
    </div>

  <button type="button"  onclick="postEnteredData()" class="btn btn-primary">Get Dataset</button>
  <button type="submit" class="btn btn-primary">Download</button>
</form>
<script src="/javascripts/read_cards.js"></script>