<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Setup</li>
  </ol>
</nav>

<form method="POST" action="/">

  <label for="directorySelectInp">Set directory</label>
  <div id="directorySelectInp"class="input-group mb-3">
    <div class="input-group">
      <input name="directoryPath" type="text" class="form-control" aria-describedby="basic-addon3" placeholder="{{dir}}">
      <label for="directoryPath">Enter path</label><br>
    </div>
  </div>
  <div class="input-group mb-3">
       <small class="form-text text-muted">
          The entered directory will be scanned for images. Default is 'public/data/pictures'
      </small>
  </div>

  <div style="width:40%">
    <label for="basic-url" class="form-text">Image Dimension</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="width-span">width</span>
      </div>
      <input type="text" class="form-control integer-med-box" name="imgWidthInput" idaria-describedby="width-span" placeholder="{{imgHeight}}">
      <div class="input-group-prepend">
        <span class="input-group-text" id="height-span">height</span>
      </div>
      <input type="text" class="form-control integer-med-box" name="imgHeightInput" idaria-describedby="height-span" placeholder="{{imgWidth}}">
    </div>
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="classes-span">Classes</span>
    </div>
    <input type="text" class="form-control" id="classes-input-id" name="classesInput" placeholder={{classesList}} aria-describedby="classes-span">
    <button type="button" class="btn btn-primary" onclick="createClasses()">Create</button>
  </div>
  <div class='card'>
    <ul id='class-ul'>
      
    </ul>
  </div>
  <button type="submit" class="btn btn-primary">Next</button>

</form>
<script src="/javascripts/init_from_config.js"></script>