<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Setup</li>
  </ol>
</nav>

<form method="POST" action="/">

  <label for="directorySelectInp">Set directory</label>
  <div id="directorySelectInp"class="input-group mb-3">
    <div class="input-group">
      <input name="directoryPath" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
      <label for="directoryPath">Enter path</label><br>
    </div>
  </div>
  <div class="input-group mb-3">
       <small class="form-text text-muted">
          The entered directory will be scanned for images
      </small>
  </div>

  <label for="tagSelectInp">Set tags</label>
  <div id="tagSelectInp"class="input-group mb-3">
    <div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">List of Tags</span>
    </div>
      <textarea name="tagTextAreaData" class="form-control" aria-label="With textarea"></textarea>
    </div>
  </div>
  <div class="input-group mb-3">
       <small class="form-text text-muted">
          Enter comma separated tags that will be used as labels for selected images
      </small>
  </div>
  <button type="submit" class="btn btn-primary">Next</button>

</form>