body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.size64 {
  max-width: 64;
  max-height: 64;
  padding: 16;
}
.integer-med-box {
  width: 64px;
}
.hidden {
  visibility: hidden;
  width: 0;
  height: 0;
}